# Data Science Tools and Ecosystem

# Introduction 

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for data science.
- List common libraries used in data science.
- Perform basic arithmetic operations in Python.

## Some of the popular languages that Data Scientists use are:
1. **R**

2. **python**

3. **Java**

## Some of the commonly used libraries used by Data Scientists include:

1. *Pandas*
2. *Numpy*
3. *TensorFlow*

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Rstudio |
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply 3 by 4 and then add 5
result = (3 * 4) + 5
result

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60 
hours = 200 / 60
hours

3.3333333333333335


##Author

RONNIE